# See https://miniflux.app/docs/configuration.html

RUN_MIGRATIONS=1
DATABASE_URL="postgresql://miniflux:i%5EyDxTU%3B%28%29q%7E%3A%272%5B.%5E5%7B@localhost/miniflux"
LISTEN_ADDR=127.0.0.1:9238
BASE_URL=http://www.groovestomp.com/rss/